@import url("https://use.typekit.net/ilv5xlu.css");

/* @import "./_variables.css"; */
/* @import "./_fonts.css"; */

* {
	margin: 0;
	padding: 0;
	font-family: "montserrat";
	line-height: 1.5em;
	color: white;
}

h2 {
	font-size: 2em;
}

body {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	transition: background-image 0.1s ease-in;
}

#knopnederlands, #knopengels {
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	position: fixed;
}


/* HIDE AND SHOW SECTIONS */
.hide {
	display: none;
}

.show {
	display: block;
}


/* SCREEN 1 */
#screen1 #body1 {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
	margin-bottom: 100vh;
}

#screen1 #title1 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 80vw;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100vh;
}

#screen1 #title1 h2 {
	font-size: 2.5em;
	text-align: center;
}

#screen1 #content1 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* #screen1 #buttons1 {
	display: flex;
	text-align: center;
	justify-content: center;
}

#screen1 button {
	color: black;
	background-color: pink;
	border: solid 0.1em pink;
	border-radius: 5em;
	padding: 1em;

	display: flex;
    justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
} */



/* SCREEN 2 */
#screen2 #body2 {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
	margin-bottom: 100vh;
	position: relative;
}

#screen2 #title2 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 80vw;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: 100vh; */
	position: sticky;
	top: 3vh;
}

#screen2 #title2 h2 {
	font-size: 2em;
	text-align: center;
}

#screen2 #content2 div {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#screen2 img {
	width: 30%;
}

#screen2 #content2 #screen21 {
	display: flex;
	flex-direction: row;
	/* background-color: #3D5A5B; */
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100vh;
	margin-bottom: 100vh;
}

#screen2 #content2 #screen22 {
	display: flex;
	flex-direction: row;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	margin-bottom: 100vh;
}

#screen2 #content2 #screen23 {
	display: flex;
	flex-direction: row;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	/* margin-bottom: 25vh; */
}




/* SCREEN 3 */
#screen3 #body3 {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
	margin-bottom: 100vh;
}

#screen3 #title3 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 80vw;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100vh;
}

#screen3 #title3 h2 {
	font-size: 2.5em;
	text-align: center;
}

#screen3 #content3 #text3 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* -------- */

#visualisation {
	margin-top: 100vh;
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#rates {
	display: flex;
	flex-direction: row;
}

#rates #buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 0.5em;
}

#rates #graph {
	display: flex;
	background-color: none;
	border: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#rates button {
	display: flex;
	background: white;
	color: #3D5A5B;
	border: none;
	padding: 0.5em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#rates button:focus {
	background: #3D5A5B;
	border: white solid 1px;
	color: white;
}

#triangle-right {
	opacity: 75%;
	position: absolute;
	margin-top: 2.7em;
	margin-left: 3.7em;
	width: 0;
	height: 0;
	border-top: 135px solid transparent;
	border-left: 100px solid #E5002C;
	border-bottom: 135px solid transparent;
}

#rectangle-white {
	z-index: -1;
	position: absolute;
	margin-top: 7.75em;
	margin-left: 3.7em;
	width: 23.2em;
	height: 1.1em;
	background-color: white;
}

#rectangle-white2 {
	z-index: -1;
	position: absolute;
	margin-top: 13.65em;
	margin-left: 3.7em;
	width: 23.2em;
	height: 1.1em;
	background-color: white;
}

#graphtitle {
	font-size: 1.5em;
}



/* SCREEN MAP  */
#screenmap #bodymap {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
	margin-bottom: 100vh;
}

#screenmap #titlemap {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 75;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
}


#screenmap #titlemap h2 {
	font-size: 2.5em;
	text-align: center;
}

#screenmap #contentmap {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 75;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#screenmap #contentmap #map1 {
	display: flex;
}

#screenmap #contentmap #legend {
	display: flex;
	justify-content: center;
	width: 10%;
}

#legend text {
	color: white;
}


/* SCREEN 4 */
#screen4 #body4 {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
	margin-bottom: 5vh;
}

#screen4 #title4 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 80vw;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100vh;
}

#screen4 #title4 h2 {
	font-size: 2.5em;
	text-align: center;
}

#screen4 #content4 {
	width: 80vw;
	padding: 2em;
	text-align: center;
}

#screen4 #content4 #screen41 div {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	margin-bottom: 100vh;
}

#screen4 #content4 #screen42 {
	margin-top: 5vh;
	margin-bottom: 100vh;
}

#screen4 #content4 #screen43 {
	margin-top: 15vh;
	margin-bottom: 30vh;
	height: 30vh;
}



/* SCREEN 5 */
#screen5 #body5 {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
	margin-bottom: 100vh;
}

#screen5 #title5 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 80vw;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100vh;
}

#screen5 #title5 h2 {
	font-size: 2.5em;
	text-align: center;
}

#screen5 #content5 div {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20vh;
}



/* SCREEN 6 */
#screen6 #body6 {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 15vh;
	margin-bottom: 100vh;
}

#screen6 #title6 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 80vw;
	padding: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100vh;
}

#screen6 #title6 h2 {
	font-size: 2.5em;
	text-align: center;
}

#screen6 #content6 div {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20vh;
}


/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	/* text-align: center; */
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}



/* ----- */
