@import url("https://p.typekit.net/p.css?s=1&k=ilv5xlu&ht=tk&f=15758.15759.15760.15761.22737.22738.22739.22740.37509.37510.37511.37512.37513.37514.37515.37516.37517.37518.37519.37520.37521.37522.37523.37524.37525.37526&a=125555771&app=typekit&e=css");
/* font-family: "merriweather";
font-family:"poppins"; */

* {
	margin: 0;
	padding: 0;
	/* font-family: 'Times New Roman', Times, serif; */
	font-family: "poppins";
	line-height: 1.5em;
}

h2 {
	font-size: 2em;
}


/* VIEW HEIGHT */
#screen1 {
	height: 100vh;
}

#screen2 {
	height: 100vh;
}

#screen3 {
	height: 100vh;
}

#screen4 {
	height: 100vh;
	/* background-image: url("../images/test.png") */
}

#screen5 {
	height: 100vh;
}


/* HIDE AND SHOW SECTIONS */
.hide{
	display: none;
}
.show{
	display: block;
}


/* SCREEN 1 */
/* #screen1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
} */

#screen1 #banner1 {
	background-image: url("../images/banner1.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 50vh;

	display: flex;
	justify-content: center;
}

#screen1 #banner1 h2 {
	margin: 0.8em;
	margin-top: 5em;
	margin-bottom: 1em;
	color: white;
}

#screen1 #content1 {
	margin: 1em;
	font-size: 0.8em;
	text-align: center;
}

#screen1 p {
	margin-top: 2em;
}

#screen1 #buttons1 {
	display: flex;
	/* text-align: center; */
	justify-content: center;
}

#screen1 button {
	color: black;
	background-color: pink;
	border: solid 0.1em pink;
	border-radius: 5em;
	padding: 1em;

	/* display: flex;
    justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap; */
}


/* SCREEN 2 */
#screen2 {
	/* margin: 1em; */
	padding: 1em;
	background-color: rgb(243, 243, 243);
}

#screen2 h2 {
	font-size: 1.5em;
	padding-top: 0.5em;
	text-align: center;
}
#screen2 img {
	width: 50%;
	display: block;
}

#screen2 p {
	font-size: 0.75em;
}


/* SCREEN 3 */
#screen3 {
	margin: 1em;
}

#screen3 h2 {
	font-size: 1.5em;
	padding-top: 0.5em;
	text-align: center;
}
#screen3 img {
	display: block;
	width: 50%;
	margin-top: 2em;
	margin-bottom: 2em;
}

#screen3 p {
	font-size: 0.75em;
}


/* SCROLL */
#scroll {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

#scroll section {
	scroll-snap-align: start;
}