@import url("https://p.typekit.net/p.css?s=1&k=ilv5xlu&ht=tk&f=15758.15759.15760.15761.22737.22738.22739.22740.37509.37510.37511.37512.37513.37514.37515.37516.37517.37518.37519.37520.37521.37522.37523.37524.37525.37526&a=125555771&app=typekit&e=css");
/* font-family: "merriweather";
font-family:"poppins"; */

* {
	margin: 0;
	padding: 0;
	/* font-family: 'Times New Roman', Times, serif; */
}

h2 {
	font-size: 3em;
	margin-bottom: 1em;
}


/* VIEW HEIGHT */
#screen1 {
	height: 100vh;
}

#screen2 {
	height: 100vh;
	background-color: #FFF9AE;
}

#screen3 {
	height: 100vh;
	background-color: #F8EC62;
}

#screen4 {
	height: 100vh;
	background-color: #E9D700;
	/* background-image: url("../images/test.png") */
}

#screen5 {
	height: 100vh;
	background-color: #DAB500;
}


/* HIDE AND SHOW SECTIONS */
.hide{
	display: none;
}
.show{
	display: block;
}


/* BUTTONS */
button {
	color: black;
	background-color: pink;
	border: solid 0.1em pink;
	border-radius: 5em;
	padding: 1em;

	/* display: flex; */
	position: relative;
    display: inline-flex;
    /* align-items: center; */
    /* justify-content: center; */
}

#screen1 section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 2em;
}



/* SCROLL */
#scroll {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

#scroll section {
	scroll-snap-align: start;
}