/* @import url("https://p.typekit.net/p.css?s=1&k=ilv5xlu&ht=tk&f=15758.15759.15760.15761.22737.22738.22739.22740.37509.37510.37511.37512.37513.37514.37515.37516.37517.37518.37519.37520.37521.37522.37523.37524.37525.37526&a=125555771&app=typekit&e=css"); */
@import url("https://use.typekit.net/ilv5xlu.css");

/* @import "./_variables.css"; */
/* @import "./_fonts.css"; */

* {
	margin: 0;
	padding: 0;
	/* font-family: 'Times New Roman', Times, serif; */
	font-family: "montserrat";
	line-height: 1.5em;
	color: white;
}

h2 {
	font-size: 2em;
}

body {
	background-image: url("../images/banner1.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	transition: background-image 0.1s ease-in;
}

/* VIEW HEIGHT */
/* #screen1 {
	background-image: url("../images/banner1.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#screen2 {
	background-image: url("../images/screen2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#screen3 {
	background-image: url("../images/banner1.jpeg");
	background-color: #3D5A5B;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#screenmap {
	background-image: url("../images/banner1.jpeg");
	background-color: #3D5A5B;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#screen4 {
	background-image: url("../images/banner1.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#screen5 {
	background-image: url("../images/banner1.jpeg");
	background-color: #3D5A5B;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#screen6 {
	background-image: url("../images/banner1.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
} */


/* HIDE AND SHOW SECTIONS */
.hide {
	display: none;
}

.show {
	display: block;
}


/* SCREEN 1 */
#screen1 #body1 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 100vh;
}

#screen1 #title1 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	/* height: 40vh; */
	width: 45vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60vh;
}

#screen1 #title1 h2 {
	font-size: 3em;
	text-align: center;
}

#screen1 #content1 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* #screen1 #buttons1 {
	display: flex;
	text-align: center;
	justify-content: center;
}

#screen1 button {
	color: black;
	background-color: pink;
	border: solid 0.1em pink;
	border-radius: 5em;
	padding: 1em;

	display: flex;
    justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
} */



/* SCREEN 2 */
#screen2 #body2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 100vh;
}

#screen2 #title2 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 45vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60vh;
}

#screen2 #title2 h2 {
	font-size: 3em;
	text-align: center;
}

#screen2 #content2 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#screen2 img {
	width: 30%;
}

#screen2 #screen21 {
	display: flex;
	flex-direction: row;
}

#screen2 #screen22 {
	display: flex;
	flex-direction: row;
}

#screen2 #screen23 {
	display: flex;
	flex-direction: row;
}




/* SCREEN 3 */
#screen3 #body3 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 100vh;
}

#screen3 #title3 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 45vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60vh;
}

#screen3 #title3 h2 {
	font-size: 3em;
	text-align: center;
}

#screen3 #content3 div {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



/* SCREEN MAP  */
#screenmap #bodymap {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 100vh;
}

#screenmap #titlemap {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 45vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60vh;
}

#screenmap #titlemap h2 {
	font-size: 3em;
	text-align: center;
}

#screenmap #contentmap {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	/* width: 50vw; */
	padding: 2em;
	text-align: center;
}


/* SCREEN 4 */
#screen4 #body4 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 100vh;
}

#screen4 #title4 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 45vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60vh;
}

#screen4 #title4 h2 {
	font-size: 3em;
	text-align: center;
}

#screen4 #content4 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
}



/* SCREEN 5 */
#screen5 #body5 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 100vh;
}

#screen5 #title5 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 45vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60vh;
}

#screen5 #title5 h2 {
	font-size: 3em;
	text-align: center;
}

#screen5 #content5 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
}



/* SCREEN 6 */
#screen6 #body6 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 100vh;
}

#screen6 #title6 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 45vw;
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60vh;
}

#screen6 #title6 h2 {
	font-size: 3em;
	text-align: center;
}

#screen6 #content6 {
	background-color: #3D5A5B;
	border: solid 0.2em white;
	width: 50vw;
	padding: 2em;
	text-align: center;
}


/* SCROLL */
/* #scroll {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

#scroll section {
	scroll-snap-align: start;
} */


/* #volledigwoord {
	display: none;
	margin: 0;
}

#afkorting:hover+#volledigwoord {
	display: block;
	color: red;
	margin: 0;
} */




/* Popup container - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	/* text-align: center; */
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}



/* ----- */


